:root {
   --primary: #2D033B;
  --secondary: #810CA8;
  --text: white;
  --alternative: #C147E9;
  --alternative2 :#5B8FB9; 


}



body {
  margin: 0;
  background-color: var(--primary);
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

}